.search_form {
  width: 400px;
  padding: 20px;
}

.pageinfo_wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.pageinfo_title {
  font-size: 15px;
}

.pageinfo_body {
  padding: 10px;
}

.pageinfo_label {
  font-size: 14px;
  font-weight: 100;
}

.pageinfo_name {
  background: #eee;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.save-btn_wrapper {
  padding-right: 10px;
  text-align: right;
}

.save-btn {
  border: 0;
  border-radius: 0;
  background: #000;
  color: #fff;
  padding: 10px;
}

.items {
  max-height: 400px;
  overflow-y: auto;
}

.item {
  margin-bottom: 10px;
}

.item_data {
  width: 100%;
}

.item_header {
  display: table;
  width: 100%;
}

.item_header_cell {
  display: table-cell;
  vertical-align: middle;
}

.item_header_cell_img {
  width: 25px;
  padding-right: 10px;
}

.item_body {
  display: table;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}

.item_desc {
  display: table-cell;
  vertical-align: middle;
}

.item_del {
  display: table-cell;
  width: 15px;
  vertical-align: middle;
}

.del_btn {
  position: absolute;
  border: 0;
  width: 10px;
  height: 10px;
  background: #fff;
}

.del_btn:before {
  content: "";
  width: 2px;
  height: 15px;
  background: #000;
  position: absolute;
  transform: rotate(45deg) translate(-50%);
  top: 50%;
  bottom: 50%;
  right: 3px;
  margin: auto;
}

.del_btn:after {
  content: "";
  width: 2px;
  height: 15px;
  background: #000;
  position: absolute;
  transform: rotate(135deg) translate(-50%);
  top: 50%;
  bottom: 50%;
  margin: auto;
}